
ul {
  font-family: 'Pacifico', cursive;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 7%;
  background-color: #f1f1f19e;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.nav{
  padding: 20px;
  text-align: center;
}

li a {
  display: block;
  color: #000000a8;
  padding: 30px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #f8c1ef89;
  color: white;
  border-radius: 50px;
}
    .imo{
      margin-top: 0px;
        width:200px;

    }
    svg {
      color: rgb(12, 12, 12);
      font-size: 20px;
    }
.imo{
  margin-top: 0px;
    width:100px;
}

