.footer{
    background-color:#f3f5f8;
    margin:0;
    padding:0;
    width:90vw;
    height:22.5vh;
    float:right;
    }
    
    P{
    color:rgb(7, 7, 7);
    font-family:FiraSans-Regular, sans-serif;
    font-size:16px;
    margin:0;
    line-height:22.5vh;
    }
    
    li{
    float:right;
    }
    
    img{
    width:200px;
    height:10vh;
    }